/* Message Bar */
.form-message {
    position: relative;
    width: 80%;
    margin-top: 1%;
    margin-bottom: 4%;
    margin-left: auto;
    margin-right: auto;
    padding: 1.25rem;
    border: 1px solid;
    border-color: #e7e7e7;
    border-radius: .25em;
}

.messageBar {
    padding: 0 10px;
    width: 90%;
    height: 34px;
    color: #404040;
    background: white;
    margin-right: 10px;
    border: 1px solid;
    border-color: #e7e7e7;
    border-radius: 2px;
}

.submitMessage {
    width: 80px;
    height: 30px;
    color: white;
    background-color:#000099;
    border-width: 1px;
    border-radius: 3px;
    cursor: pointer;
}

/* Bloc Message */
.bloc-message {
    margin-bottom: 5%;
}

.message {
    position: relative;
    width: 100%;
    border-top: 1px dashed;
    border-color: black;
}

h3 {
    margin: 0;
    padding: .3em;
    background-color: #D9EDF7;
    font-size: 15px;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 2em;
}

@media screen and (max-width: 1470px) {
    .messageBar {
        width: 80%;
    }
} 

@media screen and (max-width: 800px) {
    .messageBar {
        width: 60%;
    }
} 